# Maven build files
target
*.log
dependency-reduced-pom.xml
maven-eclipse.xml
build.properties
site-content
*~

# IntelliJ IDEA files
.idea
.iws
*.iml
*.ipr

# Eclipse files
.settings
.classpath
.project
.externalToolBuilders
.checkstyle

# jenv
.java-version

# Mac OS specific
.DS_Store

# Shellscripts to be ignored
*.sh.ignore